{% extends 'base/base.html' %}

{% block content %}
    <div class="main_div">
        {% if error %}
            <p>{{ error }}</p>
        {% else %}
            <h1>
                {{ team.teamName }}
            </h1>
            <img src="{{ team.teamIconUrl }}" alt="" width="200" height="200">
            <h2>Current Position</h2>
            <table>
                <tr>
                    <th>Position</th>
                    <th></th>
                    <th>Team</th>
                    <th>Matches</th>
                    <th>Win</th>
                    <th>Loss</th>
                    <th>Win/Loss Ratio</th>
                    <th>Draw</th>
                    <th>Goals For</th>
                    <th>Goals Against</th>
                    <th>Goal Difference</th>
                    <th>Points</th>
                </tr>
                <tr>
                    <th>{{ team_position.position }}</th>
                    <td><img src="{{ team_position.teamIconUrl }}" alt="" height="20" width="20"></td>
                    <td>{{ team_position.teamName }}</td>
                    <th>{{ team_position.matches }}</th>
                    <th>{{ team_position.won }}</th>
                    <th>{{ team_position.lost }}</th>
                    <th>{{ team_position.ratio }}</th>
                    <th>{{ team_position.draw }}</th>
                    <th>{{ team_position.goals }}</th>
                    <th>{{ team_position.opponentGoals }}</th>
                    <th>{{ team_position.goalDiff }}</th>
                    <th>{{ team_position.points }}</th>
                </tr>
            </table>
            <h2>Last Five Matches:</h2>
            {% for match in last_five_matches %}
                <p><img src="{{ match.team1.teamIconUrl }}" alt="" width="20" height="20"> {{ match.team1.teamName }} vs
                    <img src="{{ match.team2.teamIconUrl }}" alt="" width="20" height="20"> {{ match.team2.teamName }} Full Time: {{ match.result }}</p>
            {% endfor %}
            {% if next_match %}
                <h2>Next Match:</h2>
                <p>{{ next_match.team1.teamName }} vs {{ next_match.team2.teamName }} Start
                    Time: {{ next_match.matchDateTime }}</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
